body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  
  .container {
    margin: 1rem auto;
    padding: 1rem;
    background-color: #1e1e1e; /* Darker container background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input, button {
    padding: 0.5rem;
    font-size: 16px;
    background-color: #333; /* Dark button and input background color */
    color: #fff; /* Light text color */
    border: none;
  }
  
  button {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  